body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 1.25rem;
}

header,
footer {
    text-align: center;
}

header {
    margin-bottom: 2rem;
}

footer {
    margin-top: 2rem;
    border-top: 0.125rem solid orange;
    padding-top: 1rem;
}

h1 {
    color: white;
}

.titulo-laranja {
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
}

form {
    width: 80%;
    max-width: 31.25rem;
    margin: auto;
    padding: 1.25rem;
    border: 0.125rem solid orange;
    border-radius: 1rem;
}

label {
    display: block;
    margin-top: 0.625rem;
}

.inline {
    display: inline;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.3125rem;
    border: 0.125rem solid orange;
    border-radius: 0.3125rem;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}

textarea {
    height: 7.5rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 0.625rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}
